    <style>
      
      .furima-icon {
        width: 260px;
        height: 80px;
        margin-left: 5px;
      }
      .infomation {
        font-size: 20px;
        margin: 30px 0 50px 100px;
      }
      .nav-item {
        padding: 10px;
        font-size: 20px;
      }
      .contents-row {
        margin: 50px 0 50px 100px;
        font-size: 20px;
        padding: 10px;
        border: solid 4px #bad4d1;
        width: 85vw;
      }
      .show-page {
        text-decoration: none;
        color: black;
        font-size: 20px;
      }
      .create-order {
        text-decoration: none;
        padding: 15px;
        background-color: #bad4d1;
        color: black;
        margin-left: 650px;
      }
      .logout-button {
        text-decoration: none;
        padding: 15px;
        background-color: lightgray;
        color: black;
      }
      .container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .nav-item {
    margin-left: 10px;
  }
      
    </style>

  <div class="container">
    <header class="d-flex flex-wrap py-3 mb-4 border-bottom">
      <%= link_to image_tag("DF2C122C-D754-4D23-916F-539CB5B324BF.jpg", class:"furima-icon"), root_path %>
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <%= link_to "発注作成", new_order_path, class: "create-order", "aria-current": "page"  %>
    </li>
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, class: "logout-button",  "aria-current": "page" %>
    </li>
  </ul>
    </header>
  </div>

<div class="infomation">
<p>こんにちは、<%= current_user.company_name %> 様</p>
</div>

<div class="contents-row">
  <p>送信一覧</p>
  <% @orders.reverse_each do |order| %>
    <div class="order-index">
      ◇ <%= link_to order.delivery_day, order_path(order), class: "show-page" %>
      <% if order.sending_user.present? %>
        　<%= link_to order.sending_user.company_name, order_path(order), class: "show-page" %>
      <% end %>
    </div>
  <% end %>
</div>


<div class="contents-row">
  <p>受注一覧</p>
  <% @matched_orders.reverse_each do |order| %>
    <% if order.sending_user_id == current_user.id %>
      <div class="order-index">
        ◇ <%= link_to order.delivery_day, order_path(order), class: "show-page" %>
        <%= link_to order.user.company_name, order_path(order), class: "show-page" %>
      </div>
    <% end %>
  <% end %>
</div>



