    <style>
      
      .furima-icon {
        width: 260px;
        height: 80px;
        margin-left: 15px;
      }
      .contents-row {
      }
      .order-index {
        display: block;
        text-decoration: none;
        align-items: center;
      }
    </style>

    
  <div class="container">
    <header class="d-flex flex-wrap py-3 mb-4 border-bottom">
      <%= link_to image_tag("DF2C122C-D754-4D23-916F-539CB5B324BF.jpg", class:"furima-icon"), root_path %>
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <%= link_to "発注作成", new_order_path, class: "nav-link active", style: "background-color: #87CEEB; color: black;", "aria-current": "page"  %>
    </li>
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link active", style: "background-color: #87CEEB; color: black;", "aria-current": "page" %>
    </li>
  </ul>
    </header>
  </div>
  
<p>こんにちは、<%= current_user.company_name %>さん</p>


<div class="contents-row">
  <p>送信済み発注</p>
  <% @orders.each do |order| %>
    <div class="order-index">
      <%= link_to order.delivery_day, order_path(order) %>
      <% if order.sending_user.present? %>
      <%= link_to order.sending_user.company_name, order_path(order) %>
      <% end %>
    </div>
  <% end %>
</div>


<div class="contents-row">
  <p>受注一覧</p>
  <% @matched_orders.each do |order| %>
    <% if order.sending_user_id == current_user.id %>
      <div class="order-index">
        <%= link_to order.delivery_day, order_path(order) %>
        <%= link_to order.user.company_name, order_path(order) %>
      </div>
    <% end %>
  <% end %>
</div>
