<style>
  .items-sell-title {
    margin: 50px;
  }
  .items-sell-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-items .field:last-child {
    margin-right: 0;
  }
  
  .logo_image {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .fields {
    margin-bottom: 20px;
  }
  .new-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .field .remove-field {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  .weight-bold-text{
    padding-bottom: 10px;
  }
  .items-text-main {
    margin-right: 42px;
  }
  .add-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: lightgray;
  }
  .order-text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .back-btn {
    background: lightgray;
    color: black;
    text-decoration: none;
    display: block;
    margin: 30px 0 0 40px;
    width: 70%;
    height: 50px; 
    text-align: center;
    padding: 12px;
  }
  .submit-btn {
    background: #bad4d1;
    border: none;
    color: black;
    width: 70%;
    height: 50px;
    margin-left: 40px;
  }
  
  .order-already {
    display: flex;
    align-items: center;
  }
  
</style>

<div class="items-sell-contents">
  <div class="items-sell-main">
    <%= link_to image_tag('DF2C122C-D754-4D23-916F-539CB5B324BF.jpg', size: '185x50'), root_path, class: "logo_image" %>
    <h2 class="items-sell-title" style="margin-top: 50px;">発注変更</h2>

    <%= form_with model: @order, local: true do |f| %>
      <%= render 'shared/error_messages', model: @order %>

      <div class="new-items">
        <% @order.order_items.each do |item| %>
          <div class="order-already">
            <div class="fields">
              <%= f.fields_for :order_items, item do |item_form| %>
                <%= render 'order_item_fields', f: item_form %>
              <% end %>
            </div>
          </div>
        <% end %>
        
        <div class="links">
          <%= link_to_add_association '追加', f, :order_items, partial: 'order_item_fields', class: "add-link" %>
        </div>
      </div>
      
      <div class="order-text">
        納品日
        <%= f.date_field :delivery_day, class: "calender" %>
      </div>
    
      <div class="submit_button">
        <%= f.submit "変更する", class: "submit-btn" %>
        
        <%= link_to 'もどる', order_path(@order), class: "back-btn" %>
      </div>
    <% end %>
  </div>
</div>

