<style>
  .order-edit {
    text-decoration: none;
  }
  .order-destroy {
    text-decoration: none;
  }
  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  .order-item-index {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 30px;
  }
  .title-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  h2 {
    font-weight: bold;
  }
  .edit-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  .order_item_name {
    text-align: left;
    margin-right: 50px;
    width: 200px;
    margin-left: 400px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }
  .order_item_amount {
    text-align: left;
    margin-right: 40px;
    width: 100px;
  }
  .order_item_memo {
    text-align: left; 
    width: 400px;
  }
  .index-delivery {
    margin-bottom: 60px;
    font-size: 30px;
    text-align: center;
    position: relative;
  }

  .delivery-line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #ccc;
  }

  .order-edit {
    text-align: center;
    background-color: #bad4d1;
    font-size: 30px;
    color: black;
    margin: 10px 0px;
    padding: 1vh 5vw;
  }
  .order-destroy {
    text-align: center;
    background-color: lightgray;
    font-size: 30px;
    color: black;
    margin: 20px 20px;
    padding: 1vh 5vw;
  }
  .logo-image {
    width: 260px;
    height: 80px;
    margin: 30px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; 
    background-color: #e6f0f0
  }
  .comments {
    margin: 50px;
    flex-direction: column; 
    align-items: flex-start;
  }
  .comment-form {
    width: 500px;
    height: 60px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .comment-input {
    flex: 1;
    margin-right: 10px;
  }
  .submit-btn {
    width: 70px;
    height: 50px;
    background-color: #bad4d1;
    border: none;
    margin-top: 45px;
  }
  .comment-index {
    margin: 30px 0 ;
    font-size: 25px;
  }
  .create-time {
    margin-left: 5px;
  }
  .comment-forms {
    display: flex;
  }
</style>

<%= link_to image_tag("DF2C122C-D754-4D23-916F-539CB5B324BF.jpg", class:"logo-image"), root_path %>
<div class="title-index">
  <h2>発注内容</h2>
</div>
<div class="contents">
  <div class="index-delivery">
    <span>納品日：</span>
    <%= @order.delivery_day %>
    <div class="delivery-line"></div>
  </div>
  
  <% @order.order_items.each do |order_item| %>
    <div class="order-item-index">
      <p class="order_item_name">◇<%= order_item.item_name %></p>
      <p class="order_item_amount"><%= order_item.amount %>g</p>
      <p class="order_item_memo"><%= order_item.memo %></p>
    </div>
  <% end %>
</div>

<% if user_signed_in? && @order.user == current_user %>
<div class="edit-delete">
  <%= link_to '編 集', edit_order_path(@order.id), class: "order-edit" %>
  <%= link_to '削 除', order_path(@order.id), method: :delete, class: "order-destroy" %>
</div>
<% end %>

<div class="container">
  <%= form_with(model: [@order, @comment] , url: order_comments_path(@order), local: true) do |form| %>
    <div class="comments">
      <div class= "comment-index">コメント一覧</div>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= comment.user.company_name %>：</strong>
          <%= comment.content %>
          <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
        </p>
      <% end %>
    </div>
    <div class= "comment-forms">
    <%= form.text_area :content, placeholder: "コメントする", rows: "2", class: "comment-form" %>
    <%= form.submit "送信", class: "submit-btn" %>
    </div>
  <% end %>
</div>
