<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .form-signin {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: auto;
        margin-top: 170px; /* 中央に配置するためのマージンを追加 */
      }
      .form-signin .form-floating {
        margin-bottom: 15px; /* フォームとボタンの間の余白を追加 */
      }
      .form-signin > :not(button) {
        margin-bottom: 10px;
      }
      .btn-primary {
        background-color: #b4c1d1; /* 適宜変更してください */
        border: none;
        color :black;
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
    <main class="form-signin">
      <%= form_with(model: @user, class: 'registration-main', url: user_session_path, local: true) do |f| %>
        <h1 class="h3 mb-3 fw-normal">ログイン</h1>
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <div class="form-floating">
          <%= f.email_field :email, class: 'form-control', id: 'floatingInput', placeholder: 'name@example.com' %>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <%= f.password_field :password, class: 'form-control', id: 'floatingPassword', placeholder: 'Password' %>
          <label for="floatingPassword">Password</label>
        </div>
    
        <%= f.submit 'ログイン', class: 'w-100 btn btn-lg btn-primary', style: 'margin-bottom: 10px;' %>
        <%= link_to '新規登録', new_user_registration_path, class: 'w-100 btn btn-lg btn-primary' %>
      <% end %>
    </main>
  </body>
</html>
